.listItem {
    background-color: white;
    margin: 0;
    max-height: 89px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 20px;
    &:hover {
        max-height: auto;
        .text {
            white-space: break-spaces;
        }
    }
    &:first-child{
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }
    &:last-child{
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }
    &:not(:last-child) {
        border-bottom: 1px solid #E7E7E7;
    }
    .avatar {
        width: 37px;
        height: 37px;
        border-radius: 50%;
    }
    .listContent {
        overflow: hidden;
        padding-left: 15px;
    }
    .text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin:0;
        font-size:14px
    }
    .date {
        color: #9C9C9C;
        margin: 0;
        font-size: 12px;
    }
}

